
<div class="container">
<h1>Core Competencies</h1>


<h2>Operating Systems</h2> <hr>

<h4>OSX/Linux</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Admin Permissions</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Package Management</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Local Web Server</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h2>Command Line</h2> <hr>

<h4>Navigation</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Secure Connections & Keys</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>File Content Control</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>
<br>

<h2>Front End</h2><br>

<h2>HTML</h2> <hr>

<h4>The Dom</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Semantic Markup</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Slim/HAML/ERB</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Features & Compatibility</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h2>CSS</h2> <hr>

<h4>Sass & Less</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>CSS Frameworks</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Browser Quirks</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Selectors & Specificity</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h2>JavaScript</h2><hr>

<h4>JQuery</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h2>Client-Side MVCs</h2><hr>

<h4>Ember</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Angular</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>React</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>
<hr>

<h4>Prototypes & Objects</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Anonymous Functions</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>AJAX/Async</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Coffeescript</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>ES6/ES7</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Packaging (NPM/Bower/Browserify/Webpack)</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>

<h4>Dependency Management (Bower/NPM)</h4>

<%= radio_button_tag(:ranking, 1) %>
<%= label_tag(:ranking, 1) %>
<%= radio_button_tag(:ranking, 2) %>
<%= label_tag(:ranking, 2) %>
<%= radio_button_tag(:ranking, 3) %>
<%= label_tag(:ranking, 3) %>
<%= radio_button_tag(:ranking, 4) %>
<%= label_tag(:ranking, 4) %>
<%= radio_button_tag(:ranking, 5) %>
<%= label_tag(:ranking, 5) %>
<%= radio_button_tag(:ranking, 6) %>
<%= label_tag(:ranking, 6) %>
<%= radio_button_tag(:ranking, 7) %>
<%= label_tag(:ranking, 7) %>
<%= radio_button_tag(:ranking, 8) %>
<%= label_tag(:ranking, 8) %>
<%= radio_button_tag(:ranking, 9) %>
<%= label_tag(:ranking, 9) %>
<%= radio_button_tag(:ranking, 10) %>
<%= label_tag(:ranking, 10) %>
</div>
